.majorContainer{
    width:100%;
    padding:40px;
}

.dateP{
    height:100px;
    width:100px;
    background-color: #07567B;
    margin: 0px auto;
    margin-bottom: -120px;
    margin-top: 50px;
    position:relative;
    z-index: 10;
    border-radius: 8px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map{
    margin:0px auto;
    width:800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dest{
    width:370px;
    height:300px;
    background-color: aqua;
    border-radius: 8px;
    overflow: hidden;
}
.origin{
    width:370px;
    height:300px;
    background-color: aqua;
    border-radius: 8px;
    overflow: hidden;
}
.origin img,
.dest img{
    width:370px;
    height:300px;
}

.cover{
    height: 100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.089);
    position: relative;
    margin-top: -306px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
}
.cover select{
    width:100%;
    background-color: rgba(255, 255, 255, 0.63);
    color: #07567B;
    font-size: 18px;
    padding: 9px 15px;
    border:none;
    border-radius: 8px;
}
.cover p{
    padding: 0px 20px;
    color: #07567B;
}

.inputField{
    height: 100px;
    width: 800px;
    margin:0px auto;
    border-radius: 9px;
    margin-top: 50px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.inputField p{
    color:#07567B;
}

.inpCtn{
    padding: 10px;
    border:1px solid #BEBEBE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inp div{
    border-radius: 4px;
    border:1px solid #BEBEBE;
}
.inp div button{
    padding: 5px;
    border:none;
    background-color: #fff;
    color:#000;
    font-size: 18px;
    width:20px;
}

.button{
    padding: 5px 25px;
    margin: 0px auto;
    background-color: #07567B;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 700;
}
.button:hover{
    scale: 1.02;
}


.modalMaj{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100vh;
    background-color: rgba(255, 255, 255, 0.37);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#07567B
}

.modalBackdrop{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100vh;
}

.dateSelector{
    background-color: #07567B;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
}