.majorContainer{
    width:100%;
    min-height:500px;
    background-image: url("../../../assets/aboutUs.svg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.content{
    width:86%;
    margin-top: 260px;
    margin-bottom: 60px;
}
.content h1{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}
.content p{
    font-size: 18px;
    text-align: center;
}
.content h2{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.content h3{
    font-size: 22px;
    text-align: center;
}
.content ul{
    width:80%;
    margin: 0px auto;
}
.content ul li{
    list-style-type:disc;
    font-size: 18px;
}

@media screen and (max-width:715px){
    .content{
        width:95%;
    }

.content h1{
    font-size: 28px;
}
.content p{
    font-size: 14px;
}
.content h2{
    font-size: 18px;
}
.content h3{
    font-size: 18px;
}
.content ul{
    width:90%;
}
.content ul li{
    font-size: 14px;
}
}